name: check
on:
  pull_request:
    branches:
      - main
      - stack/*
      - feat/*
  push:
    branches:
      - main
      - stack/*
      - feat/*
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: Pistonight/mono-dev/actions/setup@main
        with:
          mono-dev: packages
          rust: stable
          tool-cargo-binstall: lisensor
      - run: task check

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: Pistonight/mono-dev/actions/setup@main
        with:
          mono-dev: packages
          rust: stable
          tool-mdbook: true
      - run: task exec -- docs:install
      - run: task build
